<div id="<%= dom_id friend %>">
  <div class="col-md-6">
    <div class="h-100 p-5 border rounded-3" style="background-color: #e9ecef;" >
      <h1 class="display-6"><%= friend.first_name + ' ' + friend.last_name %></h1>
      <p><%= friend.email + ' | ' + friend.phone + ' | ' + friend.twitter %></p>
      <br/>
      <div class="btn-group" role="group" aria-label="...">
      <%= link_to "Edit", edit_friend_path(@friend), class: 'btn btn-outline-secondary' %>
      <%= link_to "Back", friends_path, class: 'btn btn-outline-secondary' %>
      </div>
    </div>
  </div>
</div>
